.bearing-container {
    max-width: 1000px;
    margin: 50px auto;

}

.bearing-container h1 {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}

.bearing-container h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #000000;
}

.bearing-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;

}

.bearing-products div {

    width: calc((100% - 40px) / 3);
    border: 1px solid rgb(226 232 240);
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.bearing-products img {

    margin-bottom: 30px;
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    /* border: 1px solid rgb(226 232 240); */

}

.bearing-products h3 {
    font-size: 16px;
    text-align: left;
}

.bearing-products button {
    background: #fdfdfd;
    width: 100%;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.bearing-products button:hover {
    background: #000000;
    width: 100%;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

.bearing-detail-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 850px;
    margin: auto;

}

.bearing-detail-container img {
    max-width: 700px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid #000;
    padding: 20px;


}

.bearing-detail-container p {
    color: #000000;
    font-size: 16px;
    text-align: left;


}